mixin text()
    .text&attributes(attributes)= name
        .text__inner
            h1 Travel
            p Новая Зеландия – ни что иное, как миниатюрная проекция нашего земного шара, крохотные острова в юго-западной части Океании... Это место уже стало культовым среди туристов, бегущих от суеты мегаполисов. Новая Зеландия на своей небольшой территории помещает весь колорит планеты.
            p Здесь вы найдете бескрайние пляжи, традиционные деревушки, горные долины и большие города, тесно находящиеся друг с другом.
        a(href="javascript:void()").text__more Подробнее

