.carousel
	
	&__arrow
		position absolute
		z-index 2
		top 'calc(%s - %s )' % (50% 18px)
		width 36px
		height 36px
		background-image url(../../image/svg/arrow-next.svg)
		background-size cover
		background-position center
		cursor pointer
		
		@media (max-width 767px)
			top 'calc(%s - %s )' % (50% 10px)
			width 20px
			height 20px
	
	&__arrow-prev
		left 40px
		transform rotate(180deg)
		
		@media (max-width 767px)
			left 10px
	
	&__arrow-next
		right 40px
		
		@media (max-width 767px)
			right 10px
	
	&__item
		position relative
		display flex
		height 234px
		background-size cover
		background-position center
		background-repeat no-repeat
		
		@media (max-width 767px)
			height 140px
			
	&__item-link
		position absolute
		left 0
		top 0
		padding_y(14.5px)
		padding_x(15.5px)
		display flex
		align-items center
		width 100%
		height 100%
		text-align center
		text-decoration none
		
		&::before
			position absolute
			left 15.5px
			top 14.5px
			content ''
			display block
			opacity 0
			visibility hidden
			width 'calc(%s - %s)' % (100% 34px)
			height 'calc(%s - %s)' % (100% 32px)
			border 2px solid rgba(white, 50%)
			transition all .5s ease
		
		&:hover ^[0]__item-border
			opacity 1
			visibility visible
				
		&:hover::before
			opacity 1
			visibility visible
		
	&__item-border
		width 100%
		opacity 0
		visibility hidden
		transition all .5s ease .25s
		
		span
			display block
			font-size 14px
			color white
			
	&__container
		
		@media (max-width 767px)
			padding_x(0)