.soc-networks
	
	@media (max-width 767px)
		text-align center
	
	a
		position relative
		display inline-block
		width 36px
		height 36px
		background-color light-brown
		
		@media (max-width 767px)
			width 63px
			height 63px
		
		&:not(:last-child)
			margin-right 5px
			
			@media (max-width 767px)
				margin-right 9px
				
		@media (max-width 767px)
					
			&:nth-of-type(2)
				
				img
					width 14px
			
			&:nth-of-type(4)
				
				img
					width 25px
		
	img
		position absolute
		left 0
		top 0
		right 0
		bottom 0
		margin auto
		
		@media (max-width 767px)
			width 33px