mixin soc-networks()
    .soc-networks&attributes(attributes)= name
        a(href="javascript:void(0)")
            img(src=require("../image/svg/vk.svg"))
        a(href="javascript:void(0)")
            img(src=require('../image/svg/facebook.svg'))
        a(href="javascript:void(0)")
            img(src=require('../image/svg/twitter.svg'))
        a(href="javascript:void(0)")
            img(src=require('../image/svg/ok.svg'))