mixin image-border()
    .image-border.js-image-border&attributes(attributes)= name
        a(href=require('../image/border-image.jpg')).js-fancybox
            img(src=require('../image/border-image.jpg')).image-border__picture